<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="政黨票計算機" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://yurenju.github.io/partyvote/" />
    <meta property="og:description" content="計算政黨票分配比例怎麼導致不同結果" />
    <meta property="og:image" content="http://yurenju.github.io/partyvote/screenshot.jpg" />
    <title>政黨票計算機</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script type='text/javascript' src='match-media.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
    <script src="rzslider.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="rzslider.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="main.css" media="screen" title="no title" charset="utf-8">
    <script src="main.js"></script>
  </head>
  <body>
      <div ng-app="partyVote">
          <div ng-controller="MainCtrl" class="wrapper">
              <header>
                   <h1>政黨票計算機</h1>
              </header>
              <article class="container">
                   <div class="row vertical-sliders">
                     <div ng-repeat="(key, party) in parties" ng-show="party.enabled || party.id === 'remain'" ng-class="{'col-md-2': desktop}">
                       <rzslider rz-slider-model="party.value" rz-slider-options="party.options"></rzslider>
                       <div>
                         {{party.name}} <a ng-click="toggle(party)"><span ng-hide="party.id === 'remain'" class="remove-button glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a><br>
                         <div ng-hide="party.id === 'remain'">
                           <strong>得票率</strong><br>
                           &nbsp;&nbsp;第一階段： <input ng-change="update(party.id)" class="first-stage" type="text" ng-model="party.value" type="number"><br>
                           &nbsp;&nbsp;第二階段： {{party.advancedValue}}<br>
                           席次：{{party.seats > party.candidates.length ? party.candidates.length : party.seats}}<br>
                           <span ng-show="party.id !== 'remain' && party.seats - party.candidates.length > 0">缺額：{{party.seats - party.candidates.length}}</span>
                       </div>
                       </div>
                     </div>
                   </div>
                   <label><input type="checkbox" ng-model="noRemain"> 把未分配比例視為無效票</label>
                   <h2>預計當選候選人</h2>
                   <div class="row">
                     <div class="col-md-3" ng-repeat="(key, party) in parties" ng-show="party.enabled" class="party">
                       <h3>{{party.name}}</h3>
                       <span ng-repeat="candidate in party.candidates">
                         <span ng-class="{'label-info': candidate.win, 'female': candidate.gender === 'F', 'label-disabled': !candidate.win}" class="label">{{candidate.candidatename}}</span> </span>
                     </div>
                   </div>
                   <div class="female-info alert alert-info" role="alert">粉紅色為婦女保障名額立委，依照選罷法規定，不分區名額婦女不得低於二分之一。</div>
                   <h2>加入其他政黨</h2>
                    <span ng-repeat="(key, party) in parties" ng-hide="party.enabled || party.id === 'remain'"><button ng-click="toggle(party)" type="button" class="btn btn-default">
                      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {{party.name}}
                    </button> </span>
              </article>
              <div class="howto">
                <button ng-click="showVideo = !showVideo" type="button" class="btn btn-primary btn-lg">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> 如何抉擇？
                </button>
                <div ng-show="showVideo">
                  <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-video" data-allowfullscreen="1" data-href="/handkino/videos/vb.146567462081/10153900739392082/?type=3"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/handkino/videos/10153900739392082/"><a href="https://www.facebook.com/handkino/videos/10153900739392082/">狂熱戀人真心民調公司</a><p>5%未滿的戀人？</p>Posted by <a href="https://www.facebook.com/handkino/">handkino</a> on Thursday, January 7, 2016</blockquote></div></div>
                </div>
              </div>
              <div class="footer">結果有錯？請到 <a href="https://github.com/yurenju/partyvote">github</a> 發 issue / Pull request!</div>
          </div>
      </div>
  </body>
</html>
