* {
    margin: 0;
    padding: 0;
}
body {
    font-family:'Open Sans', sans-serif;
    color: #1f2636;
    font-size: 14px;
    padding-bottom: 40px;
}
header {
    background: #0db9f0;
    color: #fff;
    margin: -40px;
    margin-bottom: 40px;
    text-align: center;
    padding: 40px 0;
}
h1 {
    font-weight: 300;
}
h2 {
    margin-bottom:10px;
}

article {
    margin-bottom: 10px;
}
.tab-pane {
    padding-top: 10px;
}
.field-title {
    width: 100px;
}
.vertical-sliders {
    margin: 0;
}

.vertical-sliders > div {
    height: 250px;
    margin-bottom: 120px;
}

.wrapper {
    background: #fff;
    padding: 40px;
}

@media (max-width: 992px) {
  .vertical-sliders > div {
      height: auto;
      margin-bottom: 0;
  }

  .wrapper {
      padding: 0;
  }
}

.footer {
  background: #EEE;
  padding: 5px;
  text-align: center;
}

.container .vertical-sliders {
  margin: 20px;
}

.info {
  margin-top: 30px;
}

.remove-button {
  color: red;
  cursor: pointer;
}

.howto {
  text-align: center;
  margin: 50px;
}

.howto button {
  margin-bottom: 20px;
}

h3 {
  font-size: 16px;
}

.label-info.female {
  color: white;
  background-color: #D002B6;
}

.female-info {
  margin-top: 20px;
}

.label.label-disabled {
  border: #BBB 1px solid;
  color: #BBB;
}

.label.label-info {
  border: #FFF 1px solid;
}

.first-stage {
  width: 40px;
}

.remain-info {
  margin-top: 20px;
}
